*{
    margin:0;
    padding:0;
}

.label11{
    font-weight: 900;                        /*for add user ,view and edit*/
    font-size:1.5rem;   
}
.form-control{
  width:50%;
  margin-left:80px;
  margin-top:10px;
}
.form-label1{
    float:left;
    text-align: right;
    margin-top:10px;
}
.editDiv{
    width:40%;
    margin-left: 550px;
    margin-top: 40px;
}

 .nav-link{
    font-weight: 900;   
}

/* .modalClickButton{
   float: right;
   margin-right: 3rem;
   color: tomato;
} */

.Alerttt{
    height: 44px;
}
.AlertttMessage{
    font-size: medium;
}
.React{
    color: white;
    font-weight:700;
    font-style: normal;
}
.HomeToast{
    margin-left: 40%;
    width: 20%;
}


/* modal */
.modalHomeDialog{
      margin:0%;
      padding:0%;
}

 .modalHomeBody{
     margin:0%;
     padding: 0%;
     
 }
 .form-labelHome{
    text-align: right;
    margin-left: 30px;
 }
 .form-controlHome{
     margin-left: 80px;
 }
 .form-controlHomeE{
    margin-left: 100px;
}
.form-controlHomeF{
    margin-left: 90px;
}
/* modal */
span{
    margin-left:200px;
}

.btn-close{
    font-size: small;
}
 
